/*
 * @Author: zhangjicheng
 * @Date: 2020-11-03 20:41:24
 * @LastEditTime: 2020-11-13 16:03:41
 * @LastEditors: zhangjicheng
 * @Description: eslint 配置文件
 * @FilePath: \blog3.0\.eslintrc
 * @可以输入预定的版权声明、个性签名、空行等
 */

{
	"env": {
		"browser": true,
		"es2020": true,
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"tsx": true,
			"js": true,
			"ts": true
		},
		"ecmaVersion": 11,
		"sourceType": "module"
	},
		"plugins": [
		"react",
		"@typescript-eslint"
	],
	"rules": {
		"import/no-unresolved": 0,
		"react/prop-types": 0,
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/explicit-module-boundary-types": 0,
		"@typescript-eslint/ban-ts-comment": 0
		// "import/no-unresolved": [2, {
    //   "ignore": ["^@/", "^umi/", "^dva", "^assets/", "^pages/", "^components/", "^utils/", "^services/", "^models/",  "^themes/", "^public/"]
    // }]
	}
}
