@import '~antd/es/style/themes/default.less';
@import '~@/utils.less';
@import '~@/default.less';
@import '~@/utils/marked.less';

.Artical {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px 20px 0;
  .leftContent {
    width: 25%;
    float: left;
    
  }
  .centerContent {
    width: 50%;
    float: left;
    margin: 10px;
    box-shadow: 0 1px 18px 0 rgba(0,0,0,0.08);
    border-radius: 8px;
    overflow: hidden;
  }
  .rightConent {
    width: 25%;
    float: right;
  }
  &::after {
    display: block;
    content: '';
    clear: both;
  }

  .banner {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
  }
  .articalBody {
    padding: 15px;
  }
}

@media screen and (max-width: @screen-lg) {
  // .home_body {
  //   padding: 0 12px;
  // }
}

@media screen and (max-width: @screen-md) {
  .Artical {
    .leftContent {
      width: 25%;
      float: left;
      display: none;
    }
    .centerContent {
      width: 70%;
      float: left;
      margin: 10px;
      box-shadow: 0 1px 18px 0 rgba(0,0,0,0.08);
      border-radius: 8px;
      overflow: hidden;
    }
    .rightContent {
      width: 30%;
      float: right;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .Artical {
    padding: 12px 12px 0;
    .leftContent {
      display: none;
    }
    .centerContent {
      float: initial;
      width: auto;
      margin: 0;
      overflow: hidden;
    }
    .rightContent {
      display: none;
    }
  }
}
