@import '~antd/es/style/themes/default.less';
@import '~@/utils.less';
@import '~@/default.less';

.Editor {
  max-width: 700px;
  margin: calc(40px + @layout-header-height-def) auto 24px;
  background-color: #fff;
  padding: 34px;
  box-shadow: 0 4px 10px 0 rgba(202, 202, 202, 0.5);
  border-radius: 8px;
  position: relative;
  > .spin {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 60%;
    background-color: rgba(255, 255, 255, 0.6);
  }
  > .btnGroup {
    text-align: center;
  }
  .bannerArea {
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    position: relative;
    background-color: #eee;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    .bannerImgEdit {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: all ease 0.3s;
      > .btnGroup {
        display: none;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        > .btnGroup {
          display: block;
        }
      }
    }
    .btnGroup {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      span {
        cursor: pointer;
        font-size: 24px;
        display: inline-block;
        padding: 0 20px;
        color: #fff;
      }
    }
  }
  .progressBox {
    width: 70%;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
  }
  .progress {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    transition: all ease 3s;
  }
}

@media screen and (max-width: @screen-lg) {
  // .home_body {
  //   padding: 0 12px;
  // }
}

@media screen and (max-width: @screen-md) {
  .Editor {
    margin: 20px 12px;
  }
}

@media screen and (max-width: @screen-sm) {
  .Editor {
    margin: 20px 12px;
  }
}


.bannerUploadArea {
  position: relative;
  height: 0;
  padding-bottom: 46%;
  background-color: #eee;
  .file_input_dom {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: hide;
    opacity: 0;
  }
  .upload_area_content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    >.mask {
      @keyframes leave {
        0% {
          opacity: 1;
        }
        100% {
          display: 0;
        }
      }
      @keyframes enter {
        0% {
          opacity: 0;
        }
        100% {
          display: 1;
        }
      }
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      background: rgba(255,255,255,.6);
      animation-fill-mode: forwards;
      &.show {
        display: block;
      }
      &.hide {
        display: none;
      }
      &.enter {
        animation: enter ease 3s;
      }
      &.leave {
        animation: leave ease 3s;
      }
    }
  }
  .btnGroup {
    position: relative;
    overflow: hidden;
    .plusBtn {
      font-size: 50px;
      cursor: pointer;
      color: #bebebe;
      transition: all ease .3s;
      &:hover {
        color: #333;
      }
    }
  }
}
