.view {
  padding-top: 10px;
  ul {
    padding: 0;
    margin: 0;
    >li {
      font-size: 14px;
      display: flex;
      height: 45px;
      padding-left: 40px;
      justify-content: left;
      align-items: center;
      cursor: pointer;
      color: #333;
      transition: all ease .3s;
      &:hover {
        background-color: #E2EFFC;
      }
    }
  }
  .allList {
    display: flex;
    flex-direction: column;
    height: 36vh;
    padding-left: 30px;
    padding-bottom: 40px;
    border-top: #F2F2F2 solid 1px;
    >span {
      padding: 10px 0;
    }
  }
}