@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.5) rotate(0deg);
  }
  40% {
    transform: scale(1.5) rotate(-5deg);
  }
  45% {
    transform: scale(1.5) rotate(5deg);
  }
  50% {
    transform: scale(1.5) rotate(-5deg);
  }
  55% {
    transform: scale(1.5) rotate(5deg);
  }
  60% {
    transform: scale(1.5) rotate(-5deg);
  }
  75% {
    transform: scale(1.5) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes pageBannerAnimate {
  0% {
    transform: scale(1.1) translateY(40px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes pageNavAnimateLeft {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pageNavAnimateRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pageAnimateOpacity {
  0% {
    transform: scale(1.01);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
