@active-color: #1890ff;
@font-color1: #888;
@font-color2: #666;
@font-color3: #444;

// 移动端样式
@mobile-header-height: 50px;
// @mobile-header-bgcolor: #001529;
@mobile-header-bgcolor: rgba(0, 0, 0, .65);
